Python\ -\ 0\ -\ Starting/
venv/
Python\ -\ 1\ -\ Array/
Python\ -\ 2\ -\ DataTable/
Python\ -\ 3\ -\ OOP/
Python\ -\ 4\ -\ Dod/
3/ex00/__pycache__/
3/ex01/__pycache__/
3/ex02/__pycache__/
3/ex03/__pycache__/
3/ex04/__pycache__/
4/ex00/__pycache__/
4/ex01/__pycache__/
4/ex02/__pycache__/
4/ex03/__pycache__/